<header class="header">
  <!--  -->
  <form class="search-form" id="search-form">
    <!--  -->
    <input
      id="search-box"
      value="cat"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Enter a keyword..."
    />
    <!--  -->
    <button type="submit" class="button" id="search-button">Search</button>
    <!--  -->
  </form>
  <!--  -->
</header>

<main>
  <div class="gallery">
    <!-- Image cards -->
  </div>

  <!-- Intersection observer target -->
  <div class="scroll-guard"></div>
</main>
