<header class="header hidden"></header>

<main>
  <div class="container">
    <!--  -->
    <div class="intersection-target hidden"></div>
    <!--  -->
    <div class="pixabay-logo-wrapper">
      <svg class="pixabay-logo" width="300" height="150">
        <use href="./images/symbol-defs.svg#icon-pixabay-logo-old"></use>
      </svg>
    </div>

    <!--  -->
    <form class="search-form" id="search-form">
      <!--  -->
      <input
        id="search-box"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images"
      />
      <!--  -->
      <button
        type="submit"
        class="button search-button"
        id="search-button"
        aria-label="Run search"
      >
        <svg class="button-icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
      <!--  -->
    </form>
    <!--  -->
    <button
      type="button"
      class="button back-to-top hidden"
      aria-label="Back to top"
    >
      <svg class="button-icon button-icon-arrow" width="18" height="18">
        <use href="./images/symbol-defs.svg#icon-double-up-arrow"></use>
      </svg>
    </button>
    <!--  -->
    <div class="gallery">
      <!-- Image cards -->
    </div>

    <!-- Intersection observer target -->
    <div class="scroll-guard"></div>

    <!--  -->
  </div>
</main>
