<header class="header">
  <!--  -->
  <form class="search-form" id="search-form">
    <!--  -->
    <input
      id="search-box"
      value="kawasaki"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <!--  -->
    <button type="submit" class="button" id="search-button">
      <svg class="button-icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
    <!--  -->
  </form>
  <!--  -->
</header>

<main>
  <div class="gallery">
    <!-- Image cards -->
  </div>

  <!-- Intersection observer target -->
  <div class="scroll-guard hidden"></div>
</main>
