
.header {
    background-color: $header;

    display: flex;
    align-items: baseline;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;
    
    padding-top: 8px;
    padding-bottom: 8px;
    // z-index: $z-header;

    width: 100%;
}