:root {
  --gray-light: #9d9c9a;
  --gray-med: #696969;
  --gray-dark: #58534b;

  /* Body */
  --background-fallback: rgb(43, 43, 43);
  --gradient-start-color: rgba(43, 43, 43, 1);
  --gradient-end-color: rgba(88, 83, 75, 1);

  /* Header */
  --header-background-fallback: rgb(52, 51, 51);
  --header-gradient-start-color: rgba(52, 51, 51, 1);
  --header-gradient-end-color: rgba(37, 37, 37, 1);
  --header-gradient-end-point: 26%;
  --header-gradient-angle: 79deg;

  /* Search form */
  --search-form-shadow-color-focus: var(--gray-med);

  /* Search box */
  --search-box-bg-color: var(--gray-light);
  --search-box-bg-color-focus: silver;
  --search-box-placeholder-color: dimgray;
  --search-box-placeholder-color-focus: var(--gray-light);

  /* Search button */
  --button-bg-color: var(--search-box-bg-color);
  --button-bg-color-focus: darkgray;
  --button-bg-color-active: var(--gray-med);
  --button-color: dimgray;
  --button-color-focus: black;

  /* Gallery */
  --card-color: var(--gray-light);
  --card-bg-color: var(--gray-dark); /* whitesmoke */
  --card-shadow-color: rgb(0, 0, 0, 0.4);
  --card-border-color: rgb(184, 134, 11, 0.3); /* darkgoldenrod */

  /* To top button */
  -to-top-button-shadow-color: var(--gray-med);
  --to-top-button-border-color: transparent;

  /* Logo */
  --logo-text: var(--gray-med);
  --logo-text-hover: var(--gray-light);
}
